{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio SCVP</title>
    <link  rel="stylesheet" href= "{% static 'css/bootstrap.min.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="{% static 'img/favicon.png'%}" type="image/x-icon">
</head>
<header>
</header>
<body>
<!-- Bootstrap Static Header -->


<div style="background: rgb(120 16 46); height: 300px " class="jumbotron bg-cover text-white ">
    <div class="container py-5 text-center bg-cover bg">
        <h1 class="display-4 font-weight-bold">SisCoVaPro</h1>
        <p class="font-italic ">SISTEMA DE CONTROL DE VARIABLES DE PROCESO</p>
        <div class="container mb-5">
            <a href="{% url 'login' %}" role="button" class="btn btn-primary px-5 w-auto">ACCEDER</a>
        </div>
    </div>
</div>


<!-- For Demo Purpose -->
<div class="container py-5">
    <h2 class="d-flex h3 font-weight-bold justify-content-center">¿Quiénes somos?</h2>
    <div class="row">
        <div class="container d-flex justify-content-center">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong
                        class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong
                            class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>

</body>
<footer>
</footer>
</html>
