/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.bg-cover {
    background-size: cover !important;
    background-attachment: fixed, scroll;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}