{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio de Aministrador</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link   rel="stylesheet" href={% static 'global.css' %} >
        <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <div class="bg-primary">
    <div class="container-xl px-4" style="margin-top: 50px;">
        <div class="card">
            <div class="card-header" style="text-align: center;">Hola Usuario</div>
            <!--div class="card-body">This compact page header example strips down the page header element to create a seamless, slim page header.</div-->
        </div>
    </div>
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 1-->
                        <a class="card lift h-100" href="modulo_administrador">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                        <h5>Administrador</h5>
                                        <div class="text-muted small">Modulo Administrador</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
        
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 2-->
                        <a class="card lift h-100" href="modulo_lider">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                        <h5>Lider</h5>
                                        <div class="text-muted small">Modulo Lider </div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
        
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 3-->
                        <a class="card lift h-100" href="modulo_operador">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                        <h5>Operador</h5>
                                        <div class="text-muted small">Modulo Operador</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
