{% extends 'panel_operador.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio de operador</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link   rel="stylesheet" href={% static 'global.css' %}>
        <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
{% block content %}
          <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            Vista general
                                        </h1>
                                        <div class="page-header-subtitle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
    <div class="container-xl px-4" style="margin-bottom: 25px; margin-top: 25px;">
        <div class="card">
               <div class="card-header" style="text-align: center;">Modulo de los operadores</div>
            <!--div class="card-body">This compact page header example strips down the page header element to create a seamless, slim page header.</div-->
        </div>
    </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 1-->
                        <a class="card lift h-100" href="#!">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                        <h5>Monitoreos</h5>
                                        <div class="text-muted small">Se ingresan datos correspondientes para completar el monitoreo</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
            
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 2-->
                        <a class="card lift h-100" href="{% url 'estadisticos' %}">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                        <h5>Estadisticos</h5>
                                        <div class="text-muted small">Visualizar estadisticos </div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
            
                    <div class="col-xl-4 mb-4">
                        <!-- Dashboard example card 3-->
                        <a class="card lift h-100" href="#!">
                            <div class="card-body d-flex justify-content-center flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                        <h5>Registrar usuario</h5>
                                        <div class="text-muted small">Registrar nuevo usuario lider</div>
                                    </div>
                                    <img src="/static/assets/img/illustrations/windows.svg" alt="..." style="width: 8rem" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
{% endblock %}