{% extends 'panel/panel_lider.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Crear Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

</head>
<body>
{% block content %}
    <div class="container-md mt-10 mb-10" style="width: 700px">
        <div class="card card-primary">
            <div class="card-header text-center" style="display: flex; align-items: center; justify-content: center">
                <h3 class="card-title"><i class="fas fa-plus-circle"></i> Crear Producto</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" action="{% url 'lider:asignar_var_producto' %}">
                {% csrf_token %}
                <div class="card-body row">
                    <div class="form-group col-md-6">
                        <label class="mb-1 mt-3" for="inputNombreProducto">Nombre del producto</label>
                        <input type="text" class="form-control w-100" id="inputNombreProducto" name="nombreProducto"
                               placeholder="Introduce el nombre del producto">
                        <!--name="nombreProducto es el valor que se envia "-->
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Seleccione las variables del producto</label>
                            <select class="select2" multiple="multiple" data-placeholder="Select a State"
                                    style="width: 100%;">
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Washington</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between mt-4 mb-0 w-100">
                        <button class="btn btn-outline-danger" type="button"
                                onclick="location.href='{% url 'lider:inicio_lider' %}'">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-outline-primary">Siguiente</button>
                    </div>
            </form>
        </div>
    </div>
    <!-- /.card -->
{% endblock %}
</body>
<footer>
</footer>
<script> src ={% static "js/funcion_rango_limite_control.js" %}</script>
<script>
   $(document).ready(function () {
    //Initialize Select2 Elements
    $('.select2').select2();
});
</script>
</html>

