{% extends 'panel/panel_lider.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Estadísticos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block content %}
    <div class="container w-50 mt-5 mb-10">
        <div class="card card-primary">
            <div class="row">
                <div class="card-header text-center">
                    <h2>Estadísticos</h2>
                </div>

                <!-- SELECT2 EXAMPLE -->
                <form method="post" action="">
                    <div class="form-group">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="row">
                                    <div class="col-md-6 mt-3 mb-5">
                                        <div class="form-group">
                                            <label class="mb-2 d-flex justify-content-center">Seleccionar
                                                producto</label>
                                            <select class="form-control select2" style="width: 100%;" required>
                                                <option selected="selected">Seleccione un producto</option>
                                                <option>Producto 1</option>
                                                <option>Producto 2</option>
                                                <option>Producto 3</option>
                                             </select>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="col-md-6 mt-3 mb-5">
                                        <div class="form-group">
                                            <label class="mb-2 d-flex justify-content-center">Seleccionar
                                                variable</label>
                                            <select class="form-control select2" style="width: 100%;" required>
                                                <option selected="selected">Selecciona una variable</option>
                                                <option>Variable 1</option>
                                                <option>Variable 2</option>
                                                <option>Variable 3
                                                <option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Date and time range -->
                                <div class="form-group">
                                    <label>Date and time range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input type="text" class="form-control float-right  mb-3" id="reservationtime">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <!-- /.footer -->
                            <div class="d-flex card-footer justify-content-between">
                                <a type="submit" class="btn btn-outline-danger w-auto"
                                   href="{% url 'lider:inicio_lider' %}">Cancelar</a>
                                <button type="submit" class="btn btn-outline-primary">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}
</body>
<footer>
</footer>
<script>
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY hh:mm A'
        }
    })
</script>
<script src="{% static 'js/select_prueba.js' %}"></script>
</html>
